<h1 class="bg-primary text-white p-4">
  Pipes
</h1>

<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-sm-6 offset-sm-3">
      <input type="text" class="form-control" placeholder="Search by team name"
      [(ngModel)]="searchByValue">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>Team</th>
            <th>Odi Runs</th>
            <th>Test Runs</th>
            <th>Debut Year</th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let player of playersArray | filterPlayers : searchByValue; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odiRuns}}</td>
            <td>{{player.testRuns}}</td>
            <td>{{player.yearDebut}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4" *ngFor="let file of filesArray">
      <div class="card">
        <div class="card-header">
          <h2>{{file.name}}</h2>
        </div>
        <div class="card-body">
          {{file.size | fileSize }}
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <!-- <div class="col-sm-12">
      <p>
        {{title | summary : 100}}
      </p>
      
      
      <p>
        {{title | summary : 20}}
      </p>
      
      <p>
        {{title | summary : 250}}
      </p>
      
      <p>
        {{title | summary }}
      </p>
    </div> -->
  </div>
</div>